.links-contacts-container {
    position: relative;
    max-width: 600px;
    max-height: 500px;
    min-width: 300px;
    min-height: 450px;
}

.transcription-card-container {
    position: relative;
    max-width: 500px;
    max-height: 500px;
    min-width: 300px;
    min-height: 450px;
}

.contianer-page {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 3rem 110px 3rem 110px;
}

.nav-btns-container {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;
    gap: 1rem;
}