.settingElement-container {
    z-index: 1000;
    padding: 0.8rem;
    position: absolute;
    top: 0;
    right: 100%;
    width: 200px;
    display: flex;
    flex-direction: column;
    background: white;
    border: 1px solid grey
}